{% extends 'base.html.twig' %}

{% block title %}Créer un Nouveau Post{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Créer un Nouveau Post</h1>

        <!-- Affichage du formulaire de création -->
        <div class="card p-4 shadow-sm">
            {{ include('post/_form.html.twig') }}
        </div>

        <!-- Lien pour revenir à la liste des posts -->
        <a href="{{ path('app_post_index') }}" class="btn btn-secondary mt-3">Retour à la Liste des Posts</a>
    </div>
{% endblock %}
