{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center">Forum de Discussion</h1>
    
    <!-- Liste des sujets -->
    <div class="row">
        <div class="col-md-8 mx-auto">
            {% for sujet in sujets %}
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ sujet.titre }}</h5>
                        <p class="card-text">{{ sujet.description }}</p>
                        <a href="{{ path('forum_show', {'id': sujet.id}) }}" class="btn btn-primary">Voir plus</a>
                    </div>
                </div>
            {% else %}
                <p class="text-center">Aucun sujet disponible.</p>
            {% endfor %}
        </div>
    </div>

    <!-- Ajouter un sujet -->
    <div class="text-center">
        <a href="#" class="btn btn-success">Créer un sujet</a> {# Ajoute le lien plus tard #}
    </div>
</div>
{% endblock %}
